# This file is part of the Symfony Standard project.
#
# Copyright (c) 2015 LIN3S <info@lin3s.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#
# @author Jon Torrado <jontorrado@gmail.com>
# @author Beñat Espiña <benatespina@gmail.com>

#### Symfony ####
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/config/parameters.yml
/app/config/parameters.ini
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor
/web/bundles
/web/uploads
/build
/web/css
/web/js

#### LIN3S ####
.editorconfig
.lin3s_cs.yml

#### Node.js ####
/node_modules
/app/Resources/assets/vendor

#### Composer #### 
/composer.phar
