# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# LIN3S CS
.editorconfig
.lin3s_cs.yml

# Assets and user uploads
/web/bundles/
/web/uploads/

# Node
/node_modules/

# Bower
/app/Resources/assets/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/
/web/css/
/web/js/

# Composer PHAR
/composer.phar

# NetBeans stuff
/nbproject/
