<div class="cookies bengor-cookies js-bengor-cookies">
    <div class="bengor-cookies__content">
        <p class="bengor-cookies__text">
            <strong>{{ 'Use of cookies'|trans }}</strong>
        </p>
        <p class="bengor-cookies__text">
            {{ 'This website uses cookies when a user browses through its web pages. Cookies used by the website
            are files sent to a web browser via a web server to record the activities of users on the website and
            allow more fluid, personalised browsing.'|trans }}
            <a href="#" class="bengor-cookies__link" target="_blank">{{ 'Cookies policy'|trans }}</a>.
        </p>
    </div>
    <div class="bengor-cookies__actions">
        <a class="bengor-cookies__button">{{ 'Accept'|trans }}</a>
    </div>
</div>
