<div class="cookies">
    <div class="cookies__content">
        <p class="cookies__text"><strong>{{ 'Use of cookies'|trans }}</strong></p>
        <p class="cookies__text">
            {{ 'This website uses cookies when a user browses through its web pages.
            Cookies used by the website are files sent to a web browser via a web server to record the activities
            of users on the website and allow more fluid, personalised browsing.'|trans }}
        </p>
    </div>
    <div class="cookies__actions">
        <a class="button">{{ 'Accept'|trans }}</a>
    </div>
</div>
