<div class="deprecation-notice">
    {# We suggest adding a logo here #}
    <p class="deprecation-notice__title">{{ 'You are using an outdated browser'|trans }}</p>
    <p class="deprecation-notice__content">
        {{ 'In order to deliver the greatest experience to our visitors we use cutting edge web development
        techniques that require a modern browser. To view this page please use  Google Chrome, Mozilla Firefox or
        Internet Explorer 11 or greater'|trans }}
    </p>
</div>
